.image-cloud-gallery-wrapper{




}

.image-cloud-gallery-wrapper .text-content{

color: white;

background: black;
opacity: 0.5;
padding: 20px;
margin: 0 -15px 0 -15px;	
}

.breadcrumb{
	display:none;
}